* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.center-element {
  position: absolute;
  inset: 0;
  margin: auto;
}

.max-w-8r {
  max-width: 8rem;
}

.max-h-fit {
  max-height: fit-content;
}

.place-items-center {
  place-items: center;
}

.custom-gap {
  gap: 0.5rem 1rem;
}

.min-w-5r {
  min-width: 5rem;
}

.min-w-11r {
  min-width: 11rem;
}

.max-w-12-3r {
  max-width: 12.3rem;
}

.fs-6r {
  font-size: 6rem;
}

.icon-border {
  text-shadow: 0rem 0.3rem #000000;
}

.title-border {
  text-shadow: 0.2rem 0.2rem #000000, -0.1rem -0.1rem #000000;
}

.top-n-2-7r {
  top: -2.7rem;
}

.max-w-fit {
  max-width: fit-content;
}

.m-inline {
  margin-inline: auto;
}

.p-inline-2r {
  padding-inline: 2rem;
}

.fs-2-7r {
  font-size: 2.7rem;
}

.right-half-one {
  right: 0.5%;
  cursor: pointer;
}

.fs-1-8r {
  font-size: 1.8rem;
}

.left-two {
  left: 2%;
}